  <div class="row">
    <div class="medium-1 columns" >
      <%= link_to "+", edit_account_beneficiary_path(account_beneficiary), remote: true, class: "button small", style: "color:white;" %> 
    </div>
    <div class="medium-4 columns">
      Account: <%= account_beneficiary.account.proper_name %>
    </div>
    <div class="medium-4 columns">
      Beneficiary: <%= account_beneficiary.beneficiary.proper_name %>
    </div>
    <div class="medium-3 columns">
      Action: <%= account_beneficiary.permission %>
    </div>
  </div>

