<h3>Associate Beneficiaries</h3>
<div class="row">
  <dl id="account-beneficiaries">
    <% @account_beneficiaries.each do |account_beneficiary| %>
      <dd>
        <%= render partial: 'list_item', locals: {account_beneficiary: account_beneficiary} %>
      </dd>
    <% end %>
  </dl>
</div>
<div class="row">
  <%= render 'form' %>
</div>
